/* #region 1000px */
/* @media(max-width:) */
/* #endregion 1000px */

/* 880px Media Queries */
/* #region 885px */
@media (max-width: 55.32em) {
  .courses--section {
    grid-template-columns: 1fr;
  }

  .about--content {
    flex-direction: column;
  }

  .about--content__img {
    height: 15rem;
  }

  .about--content__text {
    font-size: 1rem;
    line-height: 1.2;
  }

  .services--text {
    flex-direction: column;
  }

  .services--text img {
    max-height: 5rem;
  }
}
/* #endregion 885px */

/* 720px Media Queries */
/* #region 720px */
@media (max-width: 46.25em) {
  .main-nav {
    font-size: 1.5rem;
  }

  .partners--imgs img {
    max-height: 3.2rem;
  }

  .contact--section {
    flex-direction: column;
    justify-content: center;
  }

  .contact--image {
    background: none;
  }

  .contact--form {
    width: 100%;
    padding: 2rem;
  }

  .contact--form input {
    border: solid 1px #00daf5;
    width: 100%;
  }

  .contact--form textarea:focus {
    border-color: #0489a0;
  }
}
/* #endregion 850px */

/* 820px Media Queries */
/* #region 820 */
@media (max-width: 51.25em) {
  .partners--imgs img {
    max-height: 3rem;
  }

  .team--section {
    grid-template-columns: auto;
  }
}
/* #endregion 820px */

/* #region 750px */
/* 750px Media Queries 750px */
@media (max-width: 47em) {
  .services--text p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
/* #endregion 750px */

/* 650px Media Queries */
/* #region 650 */
@media (max-width: 41em) {
  .services--box {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }

  .services--text {
    display: flex;
    gap: 1rem;
    height: 15rem;
    padding: 2rem 2rem;
    margin: 6rem 8rem;
  }

  .services--text p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
/* #endregion 650px */

/* 540px Media Queries */
/* #region 540 */
@media (max-width: 33.75em) {
  .hero--header {
    font-size: 2rem;
  }

  .hero--text {
    font-size: 0.6rem;
    line-height: 2rem;
  }

  .partners--imgs img {
    max-height: 2rem;
  }
}
/* #endregion 540px */

/* 414px Media Queries */
/* #region 414px */
@media (max-width: 25.9em) {
  .section--header {
    font-size: 1rem;
  }

  .section--subheader {
    font-size: 2.8rem;
  }

  .hero--header {
    font-size: 3rem;
  }

  .hero--text {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .partners--imgs img {
    max-height: 2rem;
  }

  .services--text {
    padding: 1rem 1rem;
    margin: 6rem 8rem;
  }

  .services--text p {
    font-size: 0.6rem;
    line-height: 1.8rem;
  }

  .courses--section__header {
    font-size: 2rem;
  }
}
/* #endregion 414px */

/* 360 px Media Queries */
/* #region 360  */
@media (max-width: 22.5em) {
  .hero--header {
    font-size: 2.8rem;
  }

  .hero--text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
/* #endregion 360 px */

/* 300px */
/* #region  300px*/
@media (max-width: 18.75em) {
  .services--text {
    margin: 2rem 1.5rem;
  }

  .services--text p {
    font-size: 0.8rem;
  }

  .courses--section__header {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
  }

  .courses--item {
    line-height: 1;
    font-size: 1rem;
  }
}
/* #endregion  300px*/

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
